/* background-color: #172e08; */
/* color: #d8ffc0; */

.services {
  border: thin solid #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-betwe; */
}

.services * {
  font-size: 1.3vw;
}

.services > * {
  margin-bottom: 1vw;
  border: thin solid #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.services-containers > h2 {
    width: 100%;
    height: 3vw;
    border: thin solid #172e08;
}
.services-containers > p {
    height: max-content;
    width: 100%;
    padding-top: .3vw;
    padding-bottom: .3vw;
}

#services-waste-management {
  height: 30vw;
  width: 100%;
}

#services-waste-management-container {
}
