/* background-color: #172e08; */
/* color: #d8ffc0; */

.services {
  border: thin solid #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-betwe; */
}

.services * {
  font-size: 1.3vw;
}

.services > * {
  margin-bottom: 1vw;
  border: thin solid #172e08;
}
#services-waste-management {
  /* display: none; */
  height: 60vw;
  width: 100%;
}
.services-containers > h2 {
  width: 100%;
  height: 3vw;
  font-size: 2vw;
  border: thin solid #172e08;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-containers > p {
  height: max-content;
  border: thin solid #172e08;
  color: grey;
  font-size: 1.5vw;
  text-align: center;
  width: 100%;
  /* padding-top: 0.3vw;
  padding-bottom: 0.3vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services-waste-management-container {
  height: 80%;
  width: 100%;
  background-color: white;
}
